   /**
    * Description: Core theme for Mossmvc
    */

    /**
    * Structure
    */
html{}
body{font-family:tahoma,sans-serif;
     background-color:#E5E5B2;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #6F4234), color-stop(0.10, #AF6E56), color-stop(0.80, #F4D7D7)); 
  } 

#wrap-header,
#wrap-main,
#wrap-footer {
       margin:0 auto;
       width:970px;
       padding: 1em;
     }
    
#wrap-footer {margin-top:10px;
	background:#FFF999;
        background:hsla(0,0%,100%,0.7);padding:10px;margin:10px auto;
        border:1px solid #6F4234;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
	color:#6F4234;
        font-size: small;
}
#wrap-main {
      margin-top: 30px;
      margin-bottom: 30px;
      background:hsla(0,0%,100%,0.7);padding:10px;margin:10px auto;
      border:1px solid #6F4234;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      border-radius: 10px;
      }
#main { padding: 20px;
}

 /**
  * Login menu
  */

#login-menu{float:right;
            font-size:smaller;
            color: #6F4234;
            text-transform: capitalize;
            font-weight: bold;
            padding: 10px;}
#login-menu img.gravatar {vertical-align: middle;}
#login-menu a {text-decoration: none;}
#login-menu a:hover {text-decoration: underline;}
 

/**
 * Banner
 */
      
#banner {
   display: table;
   margin-bottom: 10px;
   }
   
.site-logo,
.site-title,
.site-slogan {
   display: table-cell;
   width: inherit;
   vertical-align: middle;
   text-align: left;
}

.site-logo {}
.site-title,
.site-slogan {
   padding-left: 20px;
   text-shadow: #333 2px 2px 2px;
}
.site-title {
   font-size: 4em;
   font-weight: bold;
}
.site-slogan {
   font-size: 1.5em;
}

h1 { color:#6F4234;}
h2 { border-bottom: 1px solid #ccc;
     padding-bottom: 4px;
}
a {text-decoration: none}
a:link {}
a:visited {}
a:hover,
a:focus {
   color: #5C0A0A;
}
a:active {}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { padding:15px; }
form.inline { line-height:3; }
form.inline p { margin-bottom:5px; }

/**
 * Forms
 */
input { font: inherit; }
input[readonly] { color:  #666;}
label { font-size: smaller;}


/**
* User feedback message wrappers.
*/
.error, .alert, .warning, .notice, .success, .info {
padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice, .warning { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a, .warning a { color: #514721; }
.success a { color: #264409; }
.info a { color: #205791; }

li {
       padding-left: 15px;
}